#coefficients-display {
  font-family: "SF Mono", "Menlo", "Monaco", "Consolas", monospace;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.container {
  flex-direction: column;
}

@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}
