#coefficients-display {
  font-family: "SF Mono", "Menlo", "Monaco", "Consolas", monospace;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}
